.search{
    width: 100%;
    height: 60%;
}

.search input:focus{
    border-color: #1890ff;
        /* 设置聚焦时的边框颜色 */
        box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.7);
        /* 设置聚焦时的边框阴影 */
        /* border: none; */
        outline: none;
            /* 去掉聚焦时的外边框 */
}
.search input::placeholder{
    color: aliceblue;
    font-size: 10px;
}