.Img{
    width: 680px;
    height: 300px;
    display: flex;
    /* margin: 10px 20px; */
    
        justify-content: center;
        align-items: center;
}
.Imgleft{
  width: 200px;
  height: 300px;
  background-color: #bf7575;
  margin-right: 50px;
  background: url(../../assets/images/3.jpg) no-repeat;
  text-align: right;
  padding: 0px 10px;
  font-size: 14px;
}
.Imgright{
    width: 200px;
    height: 300px;
    background-color: #4b2121;
    /* padding: 0px 20px; */
   

}
.Imgright h3{
    font-size: 12px;
        line-height: 12px;
        margin-bottom: 10px;
}
.Imgtop{
    height: 135px;
    margin-bottom: 30px;
    background-color: #8a4d4d;
    background: url(../../assets/images/3.jpg) no-repeat;
}

.Imgbuttom{
    height: 135px;
    background-color: #2cad46;
    background: url(../../assets/images/3.jpg) no-repeat;
}