.img {
    width: 100%;
    height: 100%;
}
.imgtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Futura;
    color: rgba(128, 68, 255, 0.65);
}
.modal {
    display: flex;
    justify-content: center;
}
