.Table {
   height: 90%;
   position: relative;
}

.Table .ant-table-wrapper .ant-table,
.Table .ant-table-wrapper .ant-table-thead {
   background-color: transparent;
   color: aliceblue;
   text-align: center;
}

.Table .ant-table-wrapper .ant-table-cell-row-hover,
.ant-table-cell:hover {
   color: #000;
   background-color: #b48989;
}

.Table .at-spin-nested-loading {
   height: 100%;
   position: absolute;
}

.Table .ant-table-wrapper .ant-table-tbody .ant-table-row:hover
{
background: transparent;
   /* opacity: 0.5; */
}

/* .Table .ant-table-wrapper .ant-table-tbody>tr .ant-table-row:hover>td,
.Table .ant-table-wrapper .ant-table-tbody>tr>th .ant-table-cell-row-hover,
.Table .ant-table-wrapper .ant.table-tbody>tr.ant-table-row:hover>th, */
/* .Table .ant-table-wrapper .ant-table-tbody>tr>td  */
/* .Table .ant-table-wrapper .ant-table-tbody .ant-table-row:hover, */
.Table .ant-table-wrapper .ant-table-tbody .ant-table-row-level-0 .ant-table-cell-row-hover {
   /* background: #e8d4d4; */
   background: rgb(12,
      116,
      205,0.3);
   /* opacity: 0.2; */
}

.pageHeader {
   height: 12%;
   width: 100%;
   font-family: cursive;
   text-align: center;
}