
.Paging .ant-table-pagination {
    width: 100%;
}

.Paging .ant-spin-container {
    margin-right: 400px;
}

.Paging .ant-table {
    width: 100%;
    padding-left: 5px;
    overflow: scroll;
    background-color: #fff;
    height: 560px;
}

.Paging .ant-table::-webkit-scrollbar {
    display: none;
}

.Paging table {
    background-color: #fff;
}