.header{
    width: 100%;
    height: 100%;
}
.lunbobox{
    /* padding: 10px auto; */
    width: 100%;
    height: 320px;
    /* background-color: #51aada; */
    margin-top: 100px;
    display: flex;
        justify-content: center;
        align-items: center;
}
.profile{
    /* background-color: #51aada; */
    display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
}
.content{
    /* background-color: #51aada; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
}
.buttom{
    /* background-color: #51aada; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
}
.Picture {
   margin: 20px auto;
   height: 420px;
   width: 100%;
}