.content {
    /* top: 64px; */
  
    position: relative;
    width: 80%;
    left: 220px;
    height: 590px;
    margin-top: 11px;
    background-color: rgb(60, 87, 168);
    transition: all .3s ease;

}
.upload{
    height: 500px;
    width: 100%;
    background-color: #d9dff2;
   padding: 0 auto;
   text-align: center;
   margin-top: 40px;
}
main {
    /* background-color: #b03434; */
    min-width: 600px;
    max-width: 1200px;
    width: 100%;
    padding: 24px 20px 20px 20px;
    height: 400px;
    /* background-color: #27943f; */
}

.chart .header {
    text-align: center;
    width: 80%;
    font-size: 14px;
    height: 30px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chartbox {
    width: 100%;
    height: 100%;
}


.chart {
    width: 800px;
    height: 300px;
    background-color: rgb(255,
        255,
        255);
    margin: 0px auto;
    text-align: center;
}

.selectbtn {
    height: 60px;
    width: 350px;
    /* background-color: #964747; */
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    margin-left: 460px;

}

.selectbtn input {
    margin: 25px 0 10px 10px;
}

.selectbtn Radio {
    width: 20px;
    margin-right: 60px;
}

.chartbox .btn {
   height: 30px;
}

.chartbox .btn button {
    width: 150px;
    margin-top: 10px;
    margin-left: 30px;
    height: 30px;
    background-color: rgb(60,
        123,
        255);
    border: none;
}

.chartbox .btn button:hover {
    background-color: #3a86b9;
}