<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Github 明星项目统计</title>
        <meta
            name="viewport"
            content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"
        />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <script src="./lib/axios.js"></script>
        <script src="lib/vue.global.js"></script>
        <script src="lib/echarts.min.js"></script>
    </head>
    <body>
        <div id="app">
            <!-- 图表容器 -->
            <div id="chart" style="width: 100%; height: 500px"></div>
            <div class="filters">
                <div>
                    筛选语言
                    <!-- TODO: 待补充代码 -->
                    <!-- 1. 将可供筛选的语⾔列表 languages 在 select 标签下的 option 元素进⾏渲染， option 的 value 值必须对应绑定 languages 数组中的值。 -->
                    <select
                        name="language"
                        id="language"
                        @change="changeHandle"
                        v-model="language"
                    >
                        <option
                            v-for="(item, index) in languages"
                            :key="index"
                            :value="item"
                        >
                            {{ item }}
                        </option>
                    </select>
                </div>
                <div>
                    展示第<input
                        id="first"
                        type="text"
                        v-model="pageStart"
                        @input="changeHandle"
                    />到第<input
                        id="second"
                        type="text"
                        v-model="pageEnd"
                        @input="changeHandle"
                    />位的项目
                </div>
            </div>
        </div>
    </body>

    <script>
        var xData;
        var yData;
        const app = Vue.createApp({
            setup() {
                // 定义响应式数据
                const chart = Vue.ref(null);
                const chartOptions = Vue.ref(null);
                const chartData = Vue.ref(null);
                xData = Vue.ref(null);
                yData = Vue.ref(null);
                const languages = Vue.ref([
                    "All",
                    "JavaScript",
                    "TypeScript",
                    "Python",
                    "Shell",
                    "C++",
                    "C#",
                    "Go",
                    "Rust",
                    "Java",
                ]);
                const language = Vue.ref("All");
                const pageStart = Vue.ref(1);
                const pageEnd = Vue.ref(100);
                // 语言筛选改变时或页面数字输入框数字改变时的处理函数
                const changeHandle = () => {
                    // TODO：待补充代码
                    // 完善 changeHandle 函数，当⽤户选择语⾔和输⼊显示位次的时候都会调⽤此函数。当⽤户改变select 筛选器的选项或改变展示项⽬的位次输⼊时，根据⽤户的选择和输⼊的位次重新渲染图表。注意：重新渲染图表必须通过修改 xData 和 yData 的值进⾏，不要修改变量名称。

                    // 获取当前选中的语言
                    let currentLanguage = language.value;

                    // 获取当前选中的页数
                    let currentPageStart = parseInt(pageStart.value);
                    let currentPageEnd = parseInt(pageEnd.value);

                    // 获取当前所有数据
                    let currentData = chartData.value;
                    // 判断当前选中的语言是否是 All
                    if (currentLanguage === "All") {
                        // 如果是 All 则展示所有数据
                        xData.value = currentData.map((item) => item.name);
                        yData.value = currentData.map((item) => item.stars);
                    } else {
                        // 如果不是 All 则展示当前选中的语言的数据
                        xData.value = currentData
                            .filter((item) => item.language === currentLanguage)
                            .map((item) => item.name);
                        yData.value = currentData
                            .filter((item) => item.language === currentLanguage)
                            .map((item) => item.stars);
                    }

                    // 判断当前选中的页数是否在数据范围内
                    if (currentPageStart < 1) {
                        currentPageStart = 1;
                        pageStart.value = 1;
                    }
                    if (currentPageEnd > xData.value.length) {
                        currentPageEnd = xData.value.length;
                        pageEnd.value = xData.value.length;
                    }
                    // 更新 xData 和 yData 的值

                    xData.value = xData.value.slice(
                        currentPageStart - 1,
                        currentPageEnd
                    );

                    yData.value = yData.value.slice(
                        currentPageStart - 1,
                        currentPageEnd
                    );
                    // 重新渲染图表。
                    initChart();
                };

                // 初始化图表
                const initChart = () => {
                    chart.value = echarts.init(
                        document.getElementById("chart")
                    );
                    chartOptions.value = {
                        title: {
                            text: "Github 明星项目统计",
                            x: "center",
                        },
                        tooltip: {
                            trigger: "axis",
                            axisPointer: {
                                type: "shadow",
                                label: {
                                    show: true,
                                },
                            },
                        },
                        xAxis: {
                            data: xData.value,
                        },
                        yAxis: {
                            type: "value",
                            label: "star数量",
                        },
                        series: [
                            {
                                data: yData.value,
                                type: "bar",
                            },
                        ],
                    };
                    chart.value.setOption(chartOptions.value);
                };

                // 组件挂载时获取数据
                Vue.onMounted(() => {
                    // 获取数据-可能存在跨域问题
                    axios.get("./js/data.json").then((res) => {
                        chartData.value = res.data;
                        let newData = chartData.value.slice(
                            pageStart.value - 1,
                            pageEnd.value
                        );
                        xData.value = chartData.value.map((item) => item.name);
                        yData.value = chartData.value.map((item) => item.stars);
                        initChart();
                    });
                });

                return {
                    chart,
                    chartOptions,
                    chartData,
                    xData,
                    yData,
                    languages,
                    language,
                    pageStart,
                    pageEnd,
                    initChart,
                    changeHandle,
                };
            },
        });

        var vm = app.mount("#app");
    </script>
</html>
