.buttom{
    height: 300px;
    max-width: 1920px;
    min-width: 800px;
    width: 100%;
    background-color: #e9acac;
   
}
.left{
    float: left;
    height: 200px;
    width: 40%;
 background-color: aqua;
margin: 40px 20px;
padding: 0 20px;
}
.right {
    float: right;
   display: flex;
    height: 200px;
    width: 40%;
    margin: 40px 20px;
    background-color: #d64c4c;
   padding: 0 20px;
   font-size: 12px;
   text-align: center;

 
}

li{
    float: left;
    list-style: none;
    margin-right: 20px;
    font-size: 12px;
    margin-bottom: 5px;
   
}
li a{
    text-decoration: none;
}

.text1,
.text2,
.text3 {
    width: 200px;
}
h3{
    color: #e4e4e4;
}