.tabbody {
    /* position: relative; */
    margin: 0;
    padding: 0;
    /* width: 100%; */
    /* min-width: 1080px;
    max-width: 1980px; */
    height: 100px;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0.7;
}
.tabimg {
    /* position: absolute; */
    height: 80px;
    margin: auto 5%;
    /* width: 688px;
    top: 14px;
    left: 53px; */
    background-image: url(../../assets/qg-title.png);
    background-repeat: no-repeat;
}
