.fix {

    width: 100%;
    height: 100vh;
    background-color: #5bacd1;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    margin-top: 64px;
}

.container {
    width: 380px;
    margin: 7% 20px 7% 0;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 17px #333;
    
    float: right;
}

.header {
    text-align: center;
    padding-top: 20px;

}
.form{
    height: 100%;
    padding: 0 20px;
   
}
.header h1 {
    color: #333;
    font-size: 30px;
    margin-bottom: 30px;
}