$theme:#3887ff;

.introduce-ct {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding: 10px;

    .list-ct {
        width: 100%;
        height: 100%;
    }

    .title {
        height: 9%;
        font-size: 26px;
        font-weight: bold;
        font-style: italic;
        color: $theme;
        position: relative;
        display: flex;
        align-items: center;
        margin-left: 20px;
        z-index: 10;
        justify-content: flex-start;
        animation: flicker-in 2s linear .5s both;

        &::after {
            content: 'ABOUT US';
            font-family: Novecento;
            display: inline-block;
            position: absolute;
            color: transparent;
            -webkit-text-stroke: 0.5px $theme;
            top: 40%;
            left: 10px;
            transform: translateY(-70%);
            z-index: 9;
        }
    }

    .menu-list {
        width: 100%;
        height: 87.5%;

        .cursor-image {
            position: absolute;
            top: -140px;
            left: -180px;
            z-index: -1;
            width: 200px;
            height: 200px;
            background-size: 70% 70%;
            background-position: center center;
            background-repeat: no-repeat;
            transition: .3s all ease-out;
            opacity: 0;
        }

        .menu-item {
            height: calc(100% / 7);
            width: 100%;
            color: #afb2b9;
            font-size: 24px;
            display: flex;
            position: relative;
            align-items: center;
            box-sizing: border-box;
            border-bottom: 2px solid #f0f1f2;
            transition: .3s all ease-out;
            cursor: url(https://qg-newer.oss-cn-shenzhen.aliyuncs.com/images/pointer.cur), pointer;
            $menu-image-urls: url(https://qg-newer.oss-cn-shenzhen.aliyuncs.com/images/frontend.svg),
                url(https://qg-newer.oss-cn-shenzhen.aliyuncs.com/images/backend.svg),
                url(https://qg-newer.oss-cn-shenzhen.aliyuncs.com/images/data.svg),
                url(https://qg-newer.oss-cn-shenzhen.aliyuncs.com/images/android.svg),
                url(https://qg-newer.oss-cn-shenzhen.aliyuncs.com/images/embed.svg),
                url(https://qg-newer.oss-cn-shenzhen.aliyuncs.com/images/graph.svg),
                url(https://qg-newer.oss-cn-shenzhen.aliyuncs.com/images/design.svg);

            @for $i from 1 through 7 {
                &:nth-child(#{$i}):hover~.cursor-image {
                    background-image: nth($menu-image-urls, $i) !important;
                }

                &:nth-child(#{$i}) span {
                    animation: image-in 0.8s ease-out (2.2s + $i*0.1s) forwards;
                }
            }

            p {
                font-size: calc((1em + 1vmin) + (0.9em + 0.52vmax));
                position: absolute;
                color: transparent;
                transition: .2s all ease-out;
                opacity: 0;
                right: 0;
                top: 45%;
                transform: translateY(-50%);
                font-family: Novecento;
                -webkit-text-stroke: 0.5px #999;
                white-space: nowrap;
            }

            span {
                display: inline-block;
                position: absolute;
                right: 100%;
                opacity: 0;
                font-weight: bold;
                font-family: Novecento;
                font-size: calc((0.42em + 1vmin) + (0.01em + 0.62vmax));
                transition: .2s all ease-out;
                transform: translateX(-30px);
                white-space: nowrap;
            }

            &:hover {
                span {
                    transform: translateX(-10px);
                    color: $theme;
                    text-shadow: 1px 1px 6px #fff;
                }

                p {
                    opacity: 1;
                }
            }
        }

        .menu-item-active {
            span {
                transform: translateX(-10px);
                color: $theme;
                text-shadow: 1px 1px 6px #fff;
            }

            p {
                opacity: 1;
            }
        }

        .item:nth-child(7) {
            border-bottom: none;
        }
    }
}

.overview-ct {
    width: 60%;
    margin-left: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    opacity: 0;
    animation: fade-in .5s ease 1.2s forwards;

    .overview {
        width: 80%;
        height: 70%;
        flex-direction: column;
        border-radius: 20px;
        display: flex;
        padding: 30px 40px;
        background: url(https://qg-newer.oss-cn-shenzhen.aliyuncs.com/images/card_bg.png);
        background-size: 100% 100%;
        position: relative;

        .teamlogo {
            height: 60%;
            width: 100%;
            background-position: right center;
            background: url(https://qg-newer.oss-cn-shenzhen.aliyuncs.com/images/purplelogo.svg);
            background-position: 90% 100%;
            background-repeat: no-repeat;
            position: absolute;
            transition: .3s all ease-out;
            opacity: 0.1;
            z-index: 0;
            top: 56%;
            right: 0;
            transform: translateY(-50%);
        }

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            position: absolute;
            z-index: -1;
            top: 20px;
            left: 20px;
            background: #fff;
        }

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            border-radius: 20px;
            position: absolute;
            background: url(https://qg-newer.oss-cn-shenzhen.aliyuncs.com/images/shadow.jpg);
            background-size: 100% 100%;
            top: 0.5rem;
            filter: blur(40px) brightness(96%) opacity(.8) drop-shadow(0 0 10px #fff);
            opacity: 0.5;
            z-index: -2;
            top: 15px;
            left: 0px;
        }
    }

    .header {
        width: 100%;
        height: 18%;
        display: flex;
        flex-direction: column;
        color: #72aaff;
        overflow: hidden;

        p {
            display: flex;
            align-items: center;
            animation: card-title-in .8s cubic-bezier(0.42, 0, 0.58, 1) 1.8s forwards;
            font-size: calc((1em + 1vmin) + (1em + 1vmax));
            font-weight: bold;
            color: transparent;
            -webkit-text-stroke: 2px #000;
            height: 100%;
            transform: translateY(200%);
            border-bottom: 2px solid black;
            font-family: Novecento;
            span {
                display: inline-block;
                height: 100%;
                width: 8vh;
                margin-right: 20px;
                background-repeat: no-repeat;
                background-position: center center;
                background-image: url(https://qg-newer.oss-cn-shenzhen.aliyuncs.com/images/android-circle.svg);
                background-size: contain;
            }
        }
    }

    .main-body {
        width: 100%;
        height: 82%;
        border-radius: 10px;
        overflow: auto;
        color: #5c626e;

        div {
            transform: translateY(-100%);
            animation: card-text-in .8s cubic-bezier(0.42, 0, 0.58, 1) 2.3s forwards;
        }

        &::-webkit-scrollbar {
            width: 3px;
            border-radius: 10px;
            background-color: #f2f2f2;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #f6e0ec;
            border-radius: 5px;
        }

        &::-webkit-scrollbar-track-piece {
            background-color: white;
        }

        .main-title {
            color: var(--main-text);
            line-height: 2em;
            font-weight: bold;
            font-size: calc((0.25em + 1vmin) + (0.25em + 0.5vmax));
        }

        .main-text {
            color: var(--main-text);
            font-size: calc((0.02em + 1vmin) + 0.5vmax);
            line-height: 1.5;
        }

        .main-keywords {
            span {
                margin-right: 20px;
                font-size: calc((0.02em + 1vmin) + 0.5vmax);
            }
        }
    }

    .logo {
        height: 24vh;
        width: 24vh;
        background-size: 110% 110%;
        background-position: center center;
        background-repeat: no-repeat;
        position: absolute;
        bottom: -60px;
        right: 0;
        //animation: float 3s ease-out infinite;
        transform: rotate(5deg);
    }
}

@media screen and (min-width:600px)and(max-width:900px) {
    .overview-ct {
        .overview {
            .header {
                height: 12%;

                p {
                    font-size: calc((1.6em + 1vmin) + (1.6em + 1vmax));

                    span {
                        height: 80%;
                        width: 16%;
                    }
                }
            }

            .main-body {
                .main-text {
                    line-height: 1.5;
                    font-size: calc(0.12em + 1vmin + 0.12em + 1vmax);
                }

                .main-keywords {
                    span {
                        font-size: calc(0.12em + 1vmin + 0.12em + 1vmax);
                    }
                }
            }
        }
    }
}

@media screen and (max-width:600px) {
    .overview-ct {
        .overview {
            .header {
                height: 10%;

                p {
                    font-size: calc((.7em + 1vmin) + (.7em + 1vmax));

                    span {
                        height: 100%;
                        width: 20%;
                        background-size: 80% 80%;
                        margin-right: 10px;
                    }
                }
            }

            .main-body {
                .main-text {
                    line-height: 1.45;
                    font-size: calc((.1em + 1vmin) + (.1em + 1vmax));
                }
            }
        }
    }
}

@media screen and (max-width:900px) {
    .introduce {
        flex-direction: column;
        margin-right: 10px;
    }

    .introduce-ct {
        height: 10%;
        width: 100%;

        .menu-list {
            display: none;
        }

        .list-ct {
            .title {
                height: 100%;
                justify-content: flex-start;
                font-size: calc((.4em + 1vmin) + (.4em + 1vmax));

                &::after {
                    left: 10px;
                }
            }
        }
    }

    .overview-ct {
        height: 80%;
        width: 100%;
        margin-left: 0;
        height: 100%;
        justify-content: flex-start;
        opacity: 0;
        animation: fade-in .5s ease .5s forwards;

        .overview {
            height: 96%;
            width: 88%;
            padding: 18px 24px;

            .slider-ct {
                width: 20px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: -20px;

                .slider-dots {
                    width: 40%;
                    height: 30%;
                    display: flex;
                    align-items: center;
                    border-radius: 10px;
                    justify-content: space-around;
                    flex-direction: column;

                    .dot {
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        display: inline-block;
                        background: #e5f0ff;
                        transition: .3s all ease-out;
                    }

                    .dot-active {
                        background: #49afff;
                        box-shadow: 0 0 4px #3887ff;
                    }
                }
            }

            .teamlogo {
                height: 35%;
                top: 75%;
            }

            .header {
                p {
                    animation: card-title-in .8s cubic-bezier(0.42, 0, 0.58, 1) 1s forwards;
                }
            }

            .main-body {
                height: 90%;
                font-size: calc((.18em + 1vmin) + (.18em + 1vmax));

                div {
                    animation: card-text-in .8s cubic-bezier(0.42, 0, 0.58, 1) 1.5s forwards;
                }

                .main-title {
                    font-size: calc((.25em + 1vmin) + (.25em + 1vmax));
                }

                .main-keywords {
                    span {
                        display: block;
                        font-size: calc((.1em + 1vmin) + (.1em + 1vmax));
                    }
                }
            }

            .logo {
                width: 30vw;
                height: 30vw;
                right: 20px;
                bottom: 20px;
                transform: rotate(15deg);
                animation: float-mobile 3s ease-out 1.7s infinite;
            }
        }
    }
}


@keyframes float {
    50% {
        transform: translate(0, -10px) rotate(5deg);
    }
}

@keyframes float-mobile {
    50% {
        transform: translate(0, -10px) rotate(15deg);
    }
}

@keyframes image-in {
    0% {
        right: 100%;
        opacity: 0;
    }

    100% {
        right: 0;
        opacity: 1;
    }
}

@keyframes image-p-in {
    0% {
        right: 100%;
    }

    100% {
        right: 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes card-title-in {
    0% {
        transform: translateY(200%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes card-text-in {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes flicker-in {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    10.1% {
        opacity: 1;
    }

    10.2% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    20.1% {
        opacity: 1;
    }

    20.6% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    30.1% {
        opacity: 1;
    }

    30.5% {
        opacity: 1;
    }

    30.6% {
        opacity: 0;
    }

    45% {
        opacity: 0;
    }

    45.1% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    55% {
        opacity: 1;
    }

    55.1% {
        opacity: 0;
    }

    57% {
        opacity: 0;
    }

    57.1% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    60.1% {
        opacity: 0;
    }

    65% {
        opacity: 0;
    }

    65.1% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    75.1% {
        opacity: 0;
    }

    77% {
        opacity: 0;
    }

    77.1% {
        opacity: 1;
    }

    85% {
        opacity: 1;
    }

    85.1% {
        opacity: 0;
    }

    86% {
        opacity: 0;
    }

    86.1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}