
.Paging1{
    display: flex;
        flex-direction: column;
        height: 100%;
}
.Paging1 .ant-table-pagination {
    width: 100%;
    margin-top: auto;
   
}

.Paging1 .ant-spin-container {
    margin-right: 60px;
    height: 40PX;
   
   

}

.Paging1 .ant-table {
    width: 1200px;
    padding-left: 5px;
    overflow: scroll;
 

}

.Paging1 .ant-table::-webkit-scrollbar {
    display: none;
}

.Paging1 table {
 
    background-color: #e37f7f;
}

.Paging1 .ant-spin-container {
    transform: scale(0.8, 0.8);
    margin-top: -20px;
}

.Paging1 .ant-table-tbody {
    height: 200px;
    overflow: scroll;
}

.Paging1 .ant-table-cell {
    height: 2px !important;
    padding: 3px !important;
   
}
.Paging1 .ant-table-thead .ant-table-cell{
    text-align: center;
}
.Paging1 .ant-table {
    height: 320px;
}

