.div {
    width: 100%;
}
.getbtn {
    width: 50px;
    background-color: rgb(22 119 255);
    font-size: 8px;
    color: aliceblue;
    border-radius: 8px;
    border: none;
}
.getbtn2 {
    width: 50px;
    background-color: rgb(130, 100, 249);
    font-size: 8px;
    color: aliceblue;
    border-radius: 8px;
    border: none;
}
.grey {
    background-color: #cccccc; /* 点击后的背景颜色 */
    color: #888888; /* 点击后的文字颜色 */
}
