.div {
    width: 100%;
}
.wait{
    width: 120px ;
    font-size: 16px;
    /* background-color: #9addee; */
    background-color: #f6f1f1;
    border: none;
    height: 20px;
    color: #726e6e;
}
.get{
    width: 80px;
    font-size: 16px;
    /* background-color: #9addee; */
    background-color: rgb(166, 155, 155);
    border: none;
    height: 20px;
    color: #090909;
}
.get:hover{
    color: azure;
    background-color: #9381cd;
}