#CreateGroup .ant-btn {
    display: block;
    width: 100%;
}

.labelClassName {
    margin-left: 0px;
}
#radio .ant-radio-group {
    flex-basis: 100%;
}
#radio .ant-radio-button-wrapper {
    width: 50%;
    text-align: center;
}
#createbtn{
    display: flex;
    justify-content: space-between;
}
#createbtn .ant-btn {
    display: block;
    width: 45%;

}
#createbtn .ant-btn:hover {
    background-color: rgb(173 177 254);
}
