.content {
    transition: all 0.3s ease;
    width: 90%;
    height: 100%;
    position: relative;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.mainbox {
    width: 85%;
    height: 100%;
    margin: 0 auto;
}

.formstyle {
    border-radius: 6px;
}

.inputstyle {
    width: 100%;
    height: 100%;
}

.round_radio_button {
    border-radius: 50%;
    width: 80px;
    /* height: 80px; */
    display: flex;
    height: 5%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
}

.textareastyle {
    width: 100%;
    height: 30%;
}

.SubmitButton {
    text-align: center;
    background-color: #8f7bfb;
}
.success-modal-style {
    text-align: center;
    font-size: 18px;
    width: 50%;
}

@media (max-width: 576px) {
    .round-radio-button {
        width: 60px;
        height: 60px;
        font-size: 14px;
    }
}
.radio {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
