
.content {
  
    position: relative;
    width: 80%;
    left: 220px;
    /* background-color: #fff; */
    /* height: 639px; */
    margin-top: 11px;
  
    transition: all .3s ease;

}

.mainbox{
    /* min-width: 600px;
    max-width: 1200px; */
    background-color:rgb(183, 186, 251);
   margin-left: 40px;
   width: 60%;
    height: 570px;
    padding-left: 70px;
   
} 
.formstyle {
    /* background-color: rgb(183, 186, 251); */
    /* padding: 20px; */
    border-radius: 6px;
    height: 590px;
    padding: 10px 0px;

}

.inputstyle {
    width: 90%;
    height: 30px;
    /* height: 200px; */
    background-color: #f7eded;
}

.round-radio-button {
    border-radius: 50%;
    width: 80px;
    /* height: 80px; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
}
.option{
    margin-left: 10px;
}
.textareastyle {
    width: 90%;
    background-color: #f9f0f0;
}

.SubmitButton {
    width: 180PX;
   background-color: #949eda;
}

.success-modal-style {
    text-align: center;
    font-size: 18px;
}

@media (max-width: 576px) {
    .round-radio-button {
        width: 60px;
        height: 60px;
        font-size: 14px;
    }
}

.parameters{
    margin-left: 20px;
    height: 30px;
  
}
.parameters_input{
    display: inline-block;
    height: 30px;
    margin: 0;
   
}
input{
    border: 1px solid #d7c3f0;
    background-color: #e5dfdf;
    border-radius: 4px;
}
.parameters input{
    width: 55px;
    height: 19px;
    margin-right: 15px;
    /* border:1px solid #8c54d0; */
    background-color: #e5dfdf;
    border-radius: 4px;
   padding: 0;
}
input:focus{
    outline: none;
}