.log-wrapper {
  width: 100%;
  height: 98%;
  display: flex;
  flex-direction: column;
}

.log-wrapper .log-content {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 14px 20px;
  background: #fff;
}

.log-wrapper .log-content .ant-table-thead > tr > th {
  width: 30% !important;
}

.log-wrapper .log-content .ant-table-container table > thead > tr:first-child th:first-child {
  width: 10% !important;
}

.log-wrapper .log-header {
  width: 100%;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  margin-bottom: 1em;
}

.log-wrapper .log-header p {
  color: #3B86FF;
  font-size: 18px;
  margin-bottom: 0;
  user-select: none;
}

.log-wrapper .oplog-wrapper {
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.log-wrapper .oplog-wrapper li {
  list-style: none;
  margin-bottom: 10px;
}

.log-wrapper .oplog-wrapper .log-list {
  padding: 14px 20px;
  width: 49%;
  height: 100%;
  background: #fff;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px 0px 3px rgba(1, 38, 75, 0.08);
  overflow: auto;
}

.log-wrapper .oplog-wrapper .log-list::-webkit-scrollbar {
  width: 3px;
  border-radius: 10px;
  background-color: #f2f2f2;
}

.log-wrapper .oplog-wrapper .log-list::-webkit-scrollbar-thumb {
  background-color: var(--theme);
  border-radius: 5px;
}

.log-wrapper .oplog-wrapper .log-list::-webkit-scrollbar-track-piece {
  background-color: white;
}

.log-wrapper .oplog-wrapper .log-list .signup-log .item-log-content {
  display: inline-block;
  width: calc(100% - 136px);
  overflow-wrap: break-word;
  font-size: 16px;
}

.log-wrapper .oplog-wrapper .log-list .signup-log .item-log-content span:nth-child(1) {
  color: #A593FF;
  font-weight: 600;
}

.log-wrapper .oplog-wrapper .log-list .signup-log .item-log-content span:nth-child(2) {
  color: #4EDBB2;
  font-weight: 600;
}

.log-wrapper .oplog-wrapper .log-list .signup-log .item-log-content span:nth-child(3) {
  color: #FF7A8F;
  font-weight: 600;
}

.log-wrapper .oplog-wrapper .log-list .signup-log span:nth-child(2):not(.item-log-content span) {
  float: right;
  vertical-align: top;
}

.log-wrapper .oplog-wrapper .log-list .op-log .item-log-content {
  display: inline-block;
  width: calc(100% - 136px);
  overflow-wrap: break-word;
  font-size: 16px;
}

.log-wrapper .oplog-wrapper .log-list .op-log .item-log-content span:nth-child(1) {
  color: #3B86FF;
  font-weight: 600;
}

.log-wrapper .oplog-wrapper .log-list .op-log .item-log-content span:nth-child(2) {
  color: #4EDBB2;
  font-weight: 600;
}

.log-wrapper .oplog-wrapper .log-list .op-log .item-log-content span:nth-child(3) {
  color: #FC594C;
  font-weight: 600;
}

.log-wrapper .oplog-wrapper .log-list .op-log span:nth-child(2):not(.item-log-content span) {
  float: right;
  vertical-align: top;
}
