$warn: #E65656;

@mixin flexbox($jc, $ai) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-wrap: wrap;
}

#update-wrapper {
    width: 100%;
    min-height: calc(100% - 50px);
    // height: 70vh;
    background-color: #fff;
    padding: 20px;

    header {
        font-size: 24px;
        color: var(--theme);
        font-weight: 500;
    }

    #update-main {
        display: flex;
        align-items: start;
        justify-content: center;
        width: 100%;
        // height: calc(100% - 60px) !important;
        // background-color: green;

        // background-color: green;
        #update-ct {
            width: 70%;
            // height: 100%;
            // background-color: green;

            #warn-word {
                color: $warn;
            }

            #update {
                #basic-wrapper {
                    @include flexbox(space-between, start);

                    >div {
                        @include flexbox(space-between, start);
                        width: 30%;
                        height: 10%;
                        margin-bottom: 20px;
                    }
                }

                #other-wrapper {
                    // @include flexbox(space-between, start);

                    >div {
                        @include flexbox(space-between, start);
                        width: 100%;
                        margin-bottom: 20px;
                    }

                }

                #self-wrapper {
                    @include flexbox(space-between, start);

                    >div {
                        width: 45%;
                        @include flexbox(space-between, start);
                        margin-bottom: 20px;


                    }
                }

                #bigIntro-wrapper {
                    width: 100%;
                    // flex-direction: column;
                    // @include flexbox(start, start);

                    >div {
                        width: 100%;
                        margin-bottom: 30px;

                        textarea {
                            height: auto !important;
                            min-height: 200px !important;
                            text-indent: 2em;
                        }
                    }
                }
            }

            .com-btn {
                // width: 100%;
                text-align: center;
                height: 50px;
            }
        }
    }


}