@mixin Nav {
    height: 50px;
    width: 100%;
    display: block;
    color: #fff;
    text-align: center;
    line-height: 50px;
}

@mixin background($url, $height, $width, $x, $y) {
    background-image: $url;
    background-size: $height $width;
    background-position: $x $y;
    background-repeat: no-repeat;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    header {
        height: 60px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
        user-select: none;
        z-index: 100;

        p {
            font-weight: 600;
            font-size: 18px;
            color: var(--theme);
            height: 60px;
            line-height: 60px;
            margin-left: 18px;
            letter-spacing: 1px;
            user-select: none;

            &::before {
                content: "";
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-right: 8px;
                position: relative;
                user-select: none;
                top: 3px;
                @include background(url(../images/logo.png), 18px, 18px, 1px, 1px)
            }
        }

        .Log-out {
            line-height: 60px;
            padding: 0 20px;
            color: var(--theme);
        }
    }

    .main-ct {
        height: calc(100% - 60px);
        width: 100%;
        display: flex;

        aside {
            width: 100px;
            background: var(--leftbar);
            user-select: none;
            .onActive {
                background: var(--theme);
                @include Nav();
            }

            .noActive {
                @include Nav();
            }
        }

        main {
            width: 100%;
            padding: 0px 14px;

            overflow: auto;
            background: var(--theme-bgc);

            .operation-btn {
                display: inline-block;
                padding: 2px 10px;
                margin-right: 8px;
                color: #fff;
                border-radius: 4px;
                user-select: none;
                cursor: pointer;
            }

            .operation-btn-detail {
                background: #4EDBB2;
            }

            .operation-btn-update {
                background: #FFCD2F;
            }

            .operation-btn-delete {
                background: #FF7A8F;
            }
        }
    }

}

.link-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--theme-bgc);
    z-index: 999;
    margin-bottom: 0;
    display: flex;

    .link-btn {
        margin-right: 20px;
        color: #BFBFBF;
    }

    .active {
        color: #222631;
    }
}

.ant-table-thead {
    background: #3b86ff;
}

.ant-table-thead>tr>th {
    color: #fff;
    height: 40px;
    background: #3b86ff !important;
}

.ant-table-thead>tr>th {
    padding: 0 16px;
    text-align: center;
}

.ant-table-cell {
    text-align: center;
}