.result-ct{
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    background: #fff;
    .result-header{
        display: flex;
        height: 30px;
        justify-content: space-between;
        margin-bottom: 10px;
        .ant-btn-primary:nth-child(1),.ant-btn-primary:nth-child(2),.ant-btn-primary:nth-child(3){
            background: #78D1FF;
        }
        .ant-select{
            background-color: #F0F1F2!important;
            border-radius: 5px;
        }
    }
    .ant-table-cell{
        p{
            margin-bottom: 0!important;
        }
    }
}

.modal-content-update{
    span:nth-child(3){
        display: block;
        height: 22px;
        margin-bottom: 18px;
    }
    .bold-title{
        font-weight: 600;
        color: var(--main-text);
        user-select: none;
        line-height: 30px;
    }
    // 表单组件样式修改
    .ant-form-inline .ant-form-item{
        width: calc(100% - 60px);
    }
    .ant-form-inline .ant-form-item-with-help{
        margin-bottom: 0px!important;
    }
    .modal-content-update .ant-show-help, .modal-content-update .ant-show-help-item{
        transition: none!important;
    }

    .ant-form-item-with-help .ant-form-item-explain{
        display: inline-block!important;
        margin-left: 8px;
        position: absolute;
        min-width: 240px;
        top: 4px;
    }
    .ant-form-item-control-input{
        display: inline-block!important;;
        margin-bottom: 16px;

    }
    .ant-show-help-leave{
        height: 0!important;
        min-height: 0!important;
    }
    .ant-show-help,.ant-show-help-item{
        transition: none!important;
    }
    .ant-form-item-control-input-content{
        input{
            margin-right: 10px;
        }
    }
    .ant-form-item .ant-select{
        width: auto!important;
    }
}
