$search-btn: rgb(153, 153, 153);

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?jpzchj');
    src: url('../fonts/icomoon.eot?jpzchj#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?jpzchj') format('truetype'),
        url('../fonts/icomoon.woff?jpzchj') format('woff'),
        url('../fonts/icomoon.svg?jpzchj#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
.link-btn-unactive{
    margin-right: 20px!important;
    color: #BFBFBF!important;
}
#signup-wrapper {
    #main-wrapper {
        padding: 10px;
        background-color: #fff;

        #nav-wrapper {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            height: 30px;

            .faculty-filter,
            .group-filter,
            .rStatus-filter,
            .screen-btn {
                margin-left: 30px;
            }

            .screen-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                background-color: var(--theme);
                color: #fff;
                border-radius: 6px;

                button {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                }
            }
        }
    }
}