.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #e0f2ff;
    border-radius: 17px;
    overflow: hidden;
}

.switch.on {
    background-color: #2196f3;
    /* background-color: #6ef3c4; */
}

.slider {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 30px;
    height: 30px;
    background-color: white;
    transition: transform 0.2s ease-in;
    border-radius: 50%;
}

.switch.on .slider {
    transform: translateX(26px);
}

.switch input {
    display: none;
}