.title {
    font-size: 18px;
    margin: 30px 0 30px 30px;
    border-bottom: 1.2px solid #9ae2e6;
    color: rgb(223, 229, 234);
    width: 120px;
}

#bio{
   border-radius: 8px;
  
}

.sex{
   color:#116BD6;
}
.infor{
    margin-top: 8px;
}
.form{
    background-color: #D9D9D9;;
    height: 350px;
}
.form input{
    width: 280px;
}
.update{
    height: 260px;
    width: 300px;
    padding: 20px 20px;
    /* background-color: #cb4c4c; */
    text-align: center;
}
.update img{
    width: 100px;
    height: 100px;
    margin-top: 20px;
}
.updatebtn{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}