.App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

.popupbox {
    width: 402px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeInOut 0.3s ease-out;
    animation-fill-mode: forwards;
    height: 380px;
    top: 90px;
    left: 600px;
    z-index: 9999;
    background-color: #fff;
    /* 半透明黑色背景 */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.textheader {
    border-radius: 6px 6px 0 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(173, 177, 254);
    font-size: 16px;
    color: #fff;
}
.canceltext {
    width: 94%;
    height: 70%;
    padding: 10px 10px;
}
.textarea {
    border-radius: 5px;
    border: none;
    text-align: center;
    padding: 10px 10px;
    color: #fff;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background: #d6d8fe;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.textarea:focus {
    outline: none;
}
@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.cancelbutton {
    display: inline-block;
    width: 120px;
    height: 30px;
    border: none;
    background-color: rgb(173, 177, 254);
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.cancelbutton:hover {
    background-color: #7675b3;
}
