.Chartbox {
    width: 100%;
    height: 90%;
    /* background-color: #a73434; */
    /* margin: 0 auto; */
}

.content {
    top: 64px;
    padding-top: 30pxpx;
    position: relative;
    width: 84%;
    left: 220px;
    height: 639px;
    margin-top: 11px;
    background-color: #fff;
    transition: all .3s ease;
    
}

main {
 
    min-width: 600px;
    max-width: 1200px;
    width: 100%;
    padding: 24px 20px 20px 20px;
    height: 600px;
    /* background-color: #27943f; */
}

.header{
    text-align: center;
    font-size: 14px;
    height: 30px;
   padding-top: 10px;
    display: flex;
        align-items: center;
        justify-content: center;
}
.chartbox {
    width: 100%;
    height: 100%;
}


.chart {
    width: 600px;
    height: 300px;
    background-color: #8bd8b5;
    margin: 0px auto;
}
.chartbox .btn{
    margin-right: 280px;
}
 .chartbox .btn button{
    width: 100px;
    margin-top: 10px;
    margin-right: 20px;
    background-color: #76abd9;
    border: none;
}
.chartbox .btn button:hover{
    background-color: #3a86b9;
}