.title {
    font-size: 18px;
    margin: 10px 0 0px 30px;
    /* border-bottom: 1.2px solid #9ae2e6; */
    color: rgb(223, 229, 234);
    width: 100%;
}
.titlebox{
    display: flex;
    align-items: center;
}
.title img{
    width: 80px;
    height: 70px;
   margin: 0 40px 5px 40px;
}
.App1{
    width: 90%;
    height: 500px;
    /* padding-left: 20px; */
    margin-top: 5px;
}
.deletebtn{
    width: 120px;
    background-color: rgb(44,
        44,
        44);
        margin-left: 230px;
        color: rgb(242, 238, 233);
}
.deletebtn:hover{
    background-color: rgb(199, 243, 243);
    color: #000;
}