.Paging3{
    width: 90%;
    margin: 0 auto 0;
    height: 100%;
    color: #000;
}

.Paging3 .ant-table-wrapper {
    height: 100%;
    width: 100%;
}

.Paging3 .ant-table-wrapper .ant-table-thead>tr>th,
.Paging3 .ant-table-wrapper .ant-table-thead>tr>td {
    /* background-color: transparent; */
    text-align: center;
}

.Paging3 .ant-spin-nested-loading {
    width: 100%;
    height: 100%;

}

.Paging3 .ant-spin-container {
   height: 100%;
   width: 100%;

}
.Paging3 .ant-table {
    width: 100%;
    padding-left: 5px;
    overflow: scroll;
    height: 87%;
    background-color: transparent;
}
.Paging3 .ant-pagination{
    height: 10%;
}
.Paging3 .ant-table::-webkit-scrollbar {
    display: none;
}


.Paging3 .ant-table-tbody {
    height:80%;
    overflow: scroll;
}

.Paging3 .ant-table-cell {
    height: 2px !important;
    padding: 3px !important;
}


