 
 .content {
    
     transition: all .3s ease;
     margin-left: 240px;
     margin-right: 20px;
     margin-top: 12px;
    
  } 
  
 

.title li{
    width:100px ;
  margin-left: 50px;
}
.paging{
    width: 100%-220px;
    background-color: #9a3a3a;
    border-radius: 0;
  
   
}
.group{
    margin-bottom: 20px;
}