
.Paging{
    position: absolute;
    height: 100%;
    width: 100%;
}
.Paging .ant-table-wrapper{
    height: 100%;
}
.Paging .ant-spin-nested-loading{
    height: 100%;
}
.Paging .ant-table-pagination {
display: flex;
    justify-content: center;
    margin-top: 16px;
}
.Paging .ant-table{

    width: 100%;
}
.Paging .ant-spin-container {
    /* margin-right: 0;
    width: 1200px; */
    width: 100%;
        padding-left: 5px;
        overflow: scroll;
        background-color: #fff;
        border-radius: 0;
        height: 100%;
   
}

.Paging .ant-table {
    width: 100%;
    padding-left: 5px;
    overflow: scroll;
    background-color: #fff;
    height: 100%;
    border-radius: 0;
}

.Paging .ant-table::-webkit-scrollbar {
    display: none;
}

.Paging table {
    /* width: 100%; */
    background-color: #fff;
   
    /* min-width: 100px; */
     white-space: nowrap;
    
}
.Paging .ant-table-thead th,
.Paging .ant-table-tbody td {
    white-space: normal;
    width: max-content;
}
.Paging .ant-table-thead .ant-table-cell {
    text-align: center;
}