.tabbody {
    /* position: relative; */
    margin: 0;
    padding: 0;
    /* width: 100%; */
    /* min-width: 1080px;
    max-width: 1980px; */
    height: 90px;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0.7;
    padding: 10px 0 0 10px;
}
.tabimg {
    height: 80px;
    padding: 5% 0 0 0;
    background-image: url(../../assets/qg-title.png);
    background-repeat: no-repeat;
}
