$title-fsize: 28px;
$title-weight: 600;
$ipt-color: #000;
$ipt-ph-color: rgb(153, 153, 153);
$ipt-bgcolor:rgb(240, 241, 242);
$warn-color: rgb(236, 160, 160);
$warn-size: 14px;



@mixin ipt {
    width: 100%;
    height: 40px;
    display: block;
    border-radius: 5px;
    text-indent: 1em;
    color: $ipt-color;
    background-color: $ipt-bgcolor;

    &::-moz-placeholder {
        color: $ipt-ph-color;
    }
}

@mixin warn {
    display: inline-block;
    width: 120%;
    height: 25px;
    line-height: 25px;
    text-align: left;
    text-indent: 1em;
    color: $warn-color;
    font-size: $warn-size;
    visibility: hidden;
}

#content {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 145px;
    font-family: var(--theme-family);
    -webkit-user-select: none;

    #bg-pic {
        // width: calc(100% - 320px);
        min-width: 300px;
        width: 70vw;
        height: 100vw;
        background-image: url(../images/lognBg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        // background-attachment: fixed;
        background-size: (70%, 70%);
    }

    #login-ct {
        // flex: 3;
        // min-width: 20rem;
        min-width: 300px;
        min-height: 400px;
        width: 30vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 3;
        min-height: 400px;
        text-align: center;

        header {
            // min-width: 100%;
            display: flex;
            justify-content: space-around;
            margin-bottom: 30px;
            height: 50px;
            line-height: 50px;
            color: var(--theme);
            font-size: $title-fsize;
            font-weight: $title-weight;

            .studio-logo {
                width: 50px;
                height: 50px;
                background-image: url(../images/logo.png);
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

        .accounts-ipt,
        .password-ipt {
            @include ipt;
        }

        .pass-warn,
        .acc-warn {
            @include warn;
        }

        .commit-btn {
            width: 80px;
            height: 80px;
            margin-top: 18px;
            border-radius: 50%;
            font-size: 38px;
            background: url(../images/login.png);
            background-size: contain;
            color: var(--theme);
            cursor: pointer;
            &:hover {
                color: white;
                background-color: var(--theme);
            }
        }

        // 自定义复选框
        .remember-ct {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                height: 20px;
                line-height: 20px;

                .remember-chk {
                    position: relative;
                    width: 16px;
                    height: 16px;
                    margin-right: 5px;

                    #remember-ipt {
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        right: 3px;
                        clip: rect(0px 0px 0px 0px);

                        // 选中状态的盒子
                        &:checked+.realshow-box {
                            background-color: var(--theme);

                            // 勾的伪元素
                            &:before {
                                content: '';
                                position: absolute;
                                top: 2px;
                                left: 5px;
                                width: 6px;
                                height: 10px;

                                border: solid white {
                                    width: 0 2px 2px 0;
                                }

                                transform: rotate(45deg);
                            }
                        }
                    }

                    // 选中状态的盒子              
                    .realshow-box {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 16px;
                        height: 16px;
                        border-radius: 3px;
                        z-index: 999;
                        cursor: pointer;
                    }

                    // 未选中状态的盒子
                    .bg-box {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 16px;
                        height: 16px;
                        border-radius: 3px;
                        background-color: $ipt-bgcolor;
                    }
                }

                label {
                    color: $ipt-ph-color;
                    cursor: pointer;
                }
        }
    }
}