@mixin inputSize($width) {
    width: $width !important;
    height: 34px !important;
}

.update-ipt {
    // @include inputSize(150px);
    border-radius: 5px;
    background-color: var(--input-text) !important;

    input {
        background-color: var(--input-text);

        &:hover {
            background-color: var(--input-text);

        }
    }

    &:hover {
        background-color: var(--input-text);

    }
}