/* .cancel{
    position: absolute;
    height: 300px;
    width: 450px;
    background-color: #b5e9e6;
    color: black;
    z-index: 10000;
    top: 250px;
    margin-left: 680px;
    border-radius: 5%;
    /* display: flex; 
  
}
.header{
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #7bd2db;
    border-radius: 14px 14px 0px 0px;
}

.Cancelbtn{
    position: absolute; 
     float: right;
     right: 10px;
     top: 8px;
    
}  

.text{
    padding: 20px 20px;
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
} */


.App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    /* background-color: #f5f5f5; */
}

.popupbox {
    width: 402px;
    /* background-color: #c9bbbb; */
    border-radius: 6px;
    /* padding: 20px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    background-color: #fff;
    transform: translateY(-50px);
    animation: fadeInOut 0.3s ease-out;
    animation-fill-mode: forwards;
    height: 380px;
    position: fixed;
   top: 90px;
   left: 600px;
        /* display: flex;
        justify-content: center;
        align-items: center; */
        z-index: 9999;
        background-color: rgba(0, 0, 0, 0.5);
        /* 半透明黑色背景 */
   
}

.textheader{
  height: 30px;
    width: 100%;
    text-align: center;
    background-color: #7f61d2;
} 
.canceltext{
    width: 94%;
    height: 75%;
    padding: 10px 10px;
}
.textarea{
border: none;
background-color: rgb(255,
    255,
    255);
    padding: 10px 10px;

}
.textarea:focus{
    outline: none;
}
@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.cancelbutton {
    display: inline-block;
    padding: 8px 16px;
    width: 120px;
    margin-left: 130px;
    background-color: #9f92df;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.cancelbutton:hover {
    background-color: #7675b3;
}