.content {
    /* top: 64px; */

    position: relative;
    width: 84%;
    left: 220px;
    height: 639px;
    margin-top: 11px;
  background-color: #fff;
    transition: all 0.3s ease;
}

main {
    min-width: 600px;
    max-width: 1200px;
    width: 100%;
    padding: 24px 20px 20px 20px;
    height: 600px;
    margin: 0 auto;
    /* background-color: #27943f; */
}

.header {
    text-align: center;
    font-size: 14px;
    height: 30px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chart2 {
    width: 100%;
    height: 420px;
    margin-left: -10px;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.img {
    width: 500px;
    height: 210px;
    background-color: #71bcd3;
}

.content button {
    background-color: rgb(143 123 251);
    color: aliceblue;
    border-radius: 8px;
    border-style: none;
    width: 120px;
    height: 30px;
    float: right;
    margin-right: 140px;
}
