.Paging .ant-table-pagination {
    width: 100%;
}
.Paging .ant-spin-container{
   
    height: 640PX;
    background-color: #fff;
   
}
.Paging .ant-table{
    overflow: scroll;
  background-color: #fff;
  height: 590px;
}

.Paging .ant-table::-webkit-scrollbar {
    display: none;
}
.Paging table{
    background-color: #fff;
}