.tabbody {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 1080px;
    max-width: 1980px;
    height: 90px;
    background-color: rgba(85, 85, 85, 1);
    opacity: 0.7;
}

.tabimg {
    position: absolute;
    height: 65px;
    width: 65px;
    top: 14px;
    left: 53px;
    background-image: url(../../assets/login_logo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.title {
    position: absolute;
    width: 400px;
    height: 51px;
    top: 0px;
    left: 150px;
    font-family: Microsoft YaHei;
    font-size: 25px;
    font-weight: 700;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
.titlefont {
    position: absolute;
    width: 1080px;
    height: 31px;
    top: 30px;
    left: 150px;
    font-family: Microsoft YaHei;
    font-size: 20px;
    font-weight: 700;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.header_link {
    float: right;
    color: #b6b6b6;
    line-height: 30px;
    margin-top: 30px;
    overflow: hidden;
    font-weight: 700;
    padding-right: 17px;
    text-align: right;
}

.header_link a {
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    text-align: center;
}

.header_link a:link {
    color: #fff;
} /* 未访问的链接 */

.header_link a:visited {
    color: #fff;
} /* 已访问的链接 */

.header_link a:hover {
    color: #fff;
} /* ⿏标悬浮后的链接 */

.header_link a:active {
    color: #fff;
} /* 已选中的链接 */
