table tbody {
    background-color: #383232;
}
.ant-pagination{
    height: 30px;
    margin-top: 5px;
}
.ant-pagination a{
    height: 30px;
    margin-top: 0;

    width: 35px;
}
.ant-pagination li{
    width: 45px;
}
.ant-pagination ul{
   justify-content: center;
   position: relative;
}
.ant-select{
   
  right: 20px;
  width: 100px;
}
.ant-pagination .ant-table-thead tr{
    background-color:#383232;
    height: 20px;
}
