.body{
    height: 800px;
    /* min-width: 835px; */
    /* max-width: 1920px; */
    max-width: 100%;
    background-color: #4c23a4;
    position: relative;
}
 
.box{
    position: absolute;
    height: 600px;
    /* width: 835px; */
    /* background-color: #fff; */
/* min-width: 835px;
    max-width: 1920px; */
    max-width: 100%;
    /* background-color: #fff; */
    margin: 20px 40px;
    margin-top: 64px;
}
.content{
    margin: 60px 0;
    width: 1000px;
   height: 100%;
    /* background-color: #af5b5b; */
    padding: 40px 0px;
}

.left{
    width: 40%;
    float: left;
    /* margin-right: 10px; */
    /* background-color: #583c3c; */
    padding: 10px 0px;
    color:black ;
    text-align: center;
    border-right: 1px solid #998e8e;
} 
.text{
    width: 90px;

}
.right {
    width: 40%;
    float: right;
    margin-left: 10px;
    /* background-color: #583c3c; */
    padding: 0 10px;
    height: 100%;
} 
.right .software{
       height: 150px;
       width: 100%;
       background-color: #c6bebe;
      margin-bottom: 20px;
       font-size: 12px;
       border-radius: 8px;
       padding: 5px 10px;
}
.title{
    font-size: 18px;
    margin-bottom: 20px;
    border-bottom: 1.2px solid #9ae2e6;
    color: aliceblue;
    width: 120px;
}
.app{
    /* background-color: #a9a0a0; */
    border-radius: 3%;
    display: flex;
}
.appleft{
    width: 160px;
    height: 100%;
    display: flex;
    /* background-color: #fff; */
}
.appright{
    margin-left: 30px;
    width: 160px;
    
}
.timer{
    display: block;
}
.btn{
    height: 30px;
}
button{
    width: 60px;
    height: 30px;
    margin-left: 20px;
    background-color: rgb(33, 50, 148);
}
select{
    width: 45px;
    font-size: 10px;
}
.img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
