.Paging .ant-table-pagination {
    width: 90%;
}

.Paging .ant-spin-container {

    height: 640PX;
    background-color: #e27b7b;

}

.Paging .ant-table {
    overflow: scroll;
    background-color: #9a3939;
    height: 590px;
   
}

.Paging .ant-table::-webkit-scrollbar {
    display: none;
}
