.about-wrapper {
  display: flex;
  height: auto;
  width: 100vw;
  margin: 3vh 0;
  font-family: Novecento;
}

.about-wrapper .about-ct {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  margin: auto;
}

.about-wrapper .about-ct h2 {
  height: auto;
  margin-bottom: auto;
  text-align: center;
  font-size: 1.3rem;
}

.about-wrapper .about-ct .about-intro {
  flex-grow: 1;
  font-size: 1rem;
  color: #999;
}
