.about-wrapper {
    display: flex;
    height: auto;
    width: 100vw;
    margin: 3vh 0;
    font-family: Novecento;

    .about-ct {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 80%;
        margin: auto;

        h2 {
            height: auto;
            margin-bottom: auto;
            text-align: center;
            font-size: 1.3rem;
        }

        .about-intro {
            flex-grow: 1;
            font-size: 1rem;
            color: #999;
            // background-color: green;
        }
    }
}