

.title {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 30px;

    height: 40px;
    /* background-color: #fff; */
    width: 100%;
}

.title li {
    width: 100px;
    margin-left: 120px;
}

.body {
    /* display: flex; */
    align-items: center;
    font-size: 22px;
    font-weight: 500;
    color: #2c323f;
    /* margin-bottom: 5px; */
    /* background-color: aqua; */
    width: 100%;
    height: 100%;
}

.btnheader {
    width: 100px;
    height: 80%;
    margin-top: 20px;
    background-color: #f7f5f5;
    color: #2c323f;
    border: none;
    border-radius: 18px;
    text-align: center;
}

.chartbox {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* align-items: center; */
}

.box {
    width: 100%;
    height: 45%;
    text-align: center;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #7e3939; */
}
.chart {
    width: 80%;
    height: 100%;
    background-color: rgb(173, 177, 254);

}

.chartbuttom {
    height: 50%;
    width: 100%;
    margin-top: 1%;
}



tr,
td,
th {
    /* width: 100px; */
    height: 20px;
    padding: 8px;
    text-align: center;
    border-right: 1px solid #a7a0a0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    font-size: 14px;
}


/* Table */
.div {
    width: 100%;
}

.get {
    width: 60px;
    font-size: 12px;
}
