.father {
    padding: 0;
    margin: 0;
    position: relative;
    /* height: 100vh; */
}

.backimg {
    height: 780px;
    /* height: 10vh; */
    /* max-width: 1980px;
    min-width: 1080px; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    background-image: url(../../assets/login-back.png);
    z-index: -999;
}
.color {
    position: absolute;
    width: 100%;
    height: 780px;
    background: rgba(128, 68, 255, 0.65);
    z-index: 3;
}
