.container {
    width: 700px;
    margin: 0 auto;
    /* background-color: #cb4e4e; */
    border-radius: 12px;
}

.form-style {
    background-color: #f5f7fa;
    padding: 20px;
    border-radius: 6px;
}

.inputstyle {
    width: 100%;
    border: none;
    background-color: #f7eded;
}

.round-radio-button {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
}

.textareastyle {
    width: 100%;
    background-color: #f9f0f0;
}

.SubmitButton {
    width: 180PX;
   background-color: #8c54d0;
}

.success-modal-style {
    text-align: center;
    font-size: 18px;
}

@media (max-width: 576px) {
    .round-radio-button {
        width: 60px;
        height: 60px;
        font-size: 14px;
    }
}