@charset "UTF-8";
@font-face {  
	font-family: Novecento;  
	src: url('../font/Novecento-Wide-Bold-2.otf');
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

li {
  list-style: none;
}

/*包含以下四种的链接*/
a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
  margin-bottom: 0!important;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

button {
  border: none;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
  /*消除默认点击蓝色边框效果*/
  outline: none;
}

input {
  outline: none;
  border: none;
}

:root {
  --theme: #3B86FF;
  /* 色彩规范 */
  --leftbar: #2C3243;
  --tips-text: #BFBFBF;
  --main-text: #222631;
}

#root,
body,
html {
  height: 100%;
  width: 100%;
  color: var(--main-text);
  overflow: hidden;
}
body{
  cursor: url(https://qg-newer.oss-cn-shenzhen.aliyuncs.com/images/default.cur),default;
}

a{
  cursor: url(https://qg-newer.oss-cn-shenzhen.aliyuncs.com/images/pointer.cur),pointer;
}
%cursor {
	z-index: 1000;
	position: absolute;
	width: 18px;
	height: 18px;
	margin-left: -9px;
	margin-top: -9px;
	border-radius: 50%;
	pointer-events: none;
}

.cursor {
	@extend %cursor;
	top: 50%;
	left: 50%;
	border: solid 2px #8cb8ff;
	opacity: 0.85;
	transition: all 150ms ease;
	opacity: 0;
	&::before {
		@extend %cursor;
		content: '';
		background-color: #8cb8ff;
		top: 50%;
    	left: 50%;
		transition: all 150ms ease;
		opacity: 0;
	}
}

.cursor-move {
	animation: cursor-move 300ms;
}
.ant-modal-close{
	cursor: url(https://qg-newer.oss-cn-shenzhen.aliyuncs.com/images/pointer.cur),pointer!important;
}
.ant-modal-body{
	display: flex;
    justify-content: center;
}
@keyframes cursor-move {
	0% {
		transform: scale(1);
	}
	
	50% {
		transform: scale(.85);
	}

	100% {
		transform: scale(1);
	}
}

.cursor-click {
	animation: cursor-click 500ms;
}
@keyframes cursor-click {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	
	50% {
		transform: scale(.8);
		opacity: .8;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.cursor-click::before {
	animation: circle-fade 350ms ease-in-out;
}
.progress-ct{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: white;
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s all ease-out;
	.progress-box{
		width: 350px;
		height: 100px;
		display: flex;
		flex-direction: column;
		.progress{
			width: 100%;
			height: 70%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			span{
				display: inline-block;
				width: 7%;
				height: 30px;
				background: #CCE7FF;
				transform: skewX(-30deg) scale(1);
				transition: 0.5s all ease-out;
			}
			.active{
				background: #5d98ff;
				box-shadow: 0 0 6px #72aaff;
			}
		}
		.progress-num{
			display: flex;
			justify-content: center;
			font-style: italic;
			align-items: center;
			width: 100%;
			height: 30%;
			font-size: 30px;
			font-weight: bold;
			color: #72aaff;
			transition: 0.3s all ease-out;
		}
	}
}
#root{
	.warning {
        &::before {
            content: '提示：';
            display: inline;
            font-weight: bold;
            color: #3887ff;
        }

        transition: .3s all ease-out;
        z-index: 200;
        border-radius: 8px;
        position: absolute;
        padding: 10px;
        background: white;
        box-shadow: 1px 1px 16px #b1cfff;
        left: 50%;
        transform: translateX(-50%);
        top: 70px;
        text-align: center;
    }
}
body{
	overflow: hidden;
}
.ball {
    width: 16vmin;
    height: 16vmin;
    border-radius: 16vmin;
    backface-visibility: hidden;
    position: absolute;
    z-index: -1;
	transform: translateZ(-1000px);
    animation: move;
    animation-duration: 32;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.ball:nth-child(0) {
    color: #ebf5ff;
    top: 29%;
    left: 64%;
    animation-duration: 7s;
    animation-delay: -54s;
    transform-origin: 9vw -7vh;
    box-shadow: -32vmin 0 4.6237973431247825vmin currentColor;
}

.ball:nth-child(1) {
    color: #ebf5ff;
    top: 41%;
    left: 43%;
    animation-duration: 46s;
    animation-delay: -54s;
    transform-origin: -14vw -4vh;
    box-shadow: -32vmin 0 4.751463010005172vmin currentColor;
}

.ball:nth-child(2) {
    color: #ebf5ff;
    top: 4%;
    left: 26%;
    animation-duration: 116s;
    animation-delay: -27s;
    transform-origin: 9vw 20vh;
    box-shadow: 32vmin 0 4.204156337456981vmin currentColor;
}

.ball:nth-child(3) {
    color: #fff2e5;
    top: 69%;
    left: 92%;
    animation-duration: 80s;
    animation-delay: -4s;
    transform-origin: 10vw 0vh;
    box-shadow: -32vmin 0 4.026985503520272vmin currentColor;
}

.ball:nth-child(4) {
    color: #fce9e9;
    top: 51%;
    left: 88%;
    animation-duration: 32s;
    animation-delay: -139s;
    transform-origin: -14vw 24vh;
    box-shadow: -32vmin 0 4.2795060310749236vmin currentColor;
}

.ball:nth-child(5) {
    color: #fce9e9;
    top: 81%;
    left: 39%;
    animation-duration: 161s;
    animation-delay: -107s;
    transform-origin: -12vw -8vh;
    box-shadow: 32vmin 0 4.925652969789635vmin currentColor;
}

.ball:nth-child(6) {
    color: #ebf5ff;
    top: 65%;
    left: 21%;
    animation-duration: 14s;
    animation-delay: -179s;
    transform-origin: -7vw 1vh;
    box-shadow: -32vmin 0 4.254453848047947vmin currentColor;
}

.ball:nth-child(7) {
    color: #fce9e9;
    top: 87%;
    left: 36%;
    animation-duration: 57s;
    animation-delay: -144s;
    transform-origin: 4vw -19vh;
    box-shadow: -32vmin 0 4.880720426835817vmin currentColor;
}

.ball:nth-child(8) {
    color: #ebf5ff;
    top: 61%;
    left: 24%;
    animation-duration: 107s;
    animation-delay: -51s;
    transform-origin: 7vw 6vh;
    box-shadow: 32vmin 0 4.4052463001547295vmin currentColor;
}

.ball:nth-child(9) {
    color: #fce9e9;
    top: 57%;
    left: 51%;
    animation-duration: 70s;
    animation-delay: -62s;
    transform-origin: 12vw 22vh;
    box-shadow: -32vmin 0 4.183708009227891vmin currentColor;
}

.ball:nth-child(10) {
    color: #fff2e5;
    top: 58%;
    left: 1%;
    animation-duration: 69s;
    animation-delay: -162s;
    transform-origin: 2vw 20vh;
    box-shadow: 32vmin 0 4.292938611851135vmin currentColor;
}

.ball:nth-child(11) {
    color: #fce9e9;
    top: 27%;
    left: 13%;
    animation-duration: 126s;
    animation-delay: -159s;
    transform-origin: -3vw -4vh;
    box-shadow: 32vmin 0 4.118187678402179vmin currentColor;
}

.ball:nth-child(12) {
    color: #fce9e9;
    top: 95%;
    left: 63%;
    animation-duration: 36s;
    animation-delay: -130s;
    transform-origin: -10vw 6vh;
    box-shadow: -32vmin 0 4.719174316375612vmin currentColor;
}

.ball:nth-child(13) {
    color: #ebf5ff;
    top: 63%;
    left: 17%;
    animation-duration: 98s;
    animation-delay: -144s;
    transform-origin: -5vw -21vh;
    box-shadow: 32vmin 0 4.640435435673209vmin currentColor;
}

.ball:nth-child(14) {
    color: #fce9e9;
    top: 20%;
    left: 88%;
    animation-duration: 22s;
    animation-delay: -173s;
    transform-origin: 20vw 24vh;
    box-shadow: 32vmin 0 4.999275076545335vmin currentColor;
}

.ball:nth-child(15) {
    color: #fce9e9;
    top: 23%;
    left: 11%;
    animation-duration: 50s;
    animation-delay: -157s;
    transform-origin: 9vw -7vh;
    box-shadow: -32vmin 0 4.270412529258516vmin currentColor;
}

//微信遮罩层
.weixinCover{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #333333;
	z-index: 1000;
	.coverFont{
		display: inline-block;
		color: #fff;
		font-size: 26px;
		margin-top: 100px;
		position: relative;
		left: 50%;
		padding:10px 25px;
		border-radius: 70px;
		transform: translate(-50%,0);
		border: 1px dashed #fff;
	}
}

@media screen and (max-width:420px) {
	.progress-ct{
		.progress-box{
			width: 80%;
			height: 80px;
		}
	}
}

@keyframes circle-fade {
  0% {
		transform: scale(0);
    opacity:1;
  }
  100% {
    transform: scale(3);
    opacity:0;
  }
}