.AwardsCard_box {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 10;
  width: 380px;
  height: 80px;
  position: relative;
  overflow: hidden;
}

.AwardsCard_box .leftTree {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.AwardsCard_box .leftTree img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  position: absolute;
  left: 0;
  width: auto;
  height: 100%;
  left: 0;
}

.AwardsCard_box .fontContent {
  text-align: center;
  overflow: hidden;
  padding: 0 25px;
}

.AwardsCard_box .fontContent .topContent {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  overflow: hidden;
  width: 75%;
  margin: auto;
  border-bottom: 1px solid #fdbb00;
  color: #de6f00;
  font-weight: 100;
}

.AwardsCard_box .fontContent .bottomContent {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-size: 18px;
  color: #de6f00;
}

.AwardsCard_box .fontContent .levelContent {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  font-size: 18px;
  margin-top: -10px;
  overflow: hidden;
}

.AwardsCard_box .rightTree {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.AwardsCard_box .rightTree img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  position: absolute;
  width: auto;
  right: 0;
  height: 100%;
}

.hover_box:hover .ghost {
  color: #de6f00;
}

.hover_box:hover .shine {
  background: transparent;
}

.hover_box:hover .shine::before {
  transform: translateX(250px);
}

.hover_box .ghost {
  color: #de6f00;
  background-color: transparent;
}

.hover_box .shine {
  color: #de6f00;
}

.hover_box .shine::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 30px;
  background: linear-gradient(100deg, transparent, #fff, transparent);
  transform: translateX(-300px);
  transition: .9s;
}
