$text_color: #de6f00;

@mixin no-select () {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.AwardsCard_box {
    @include no-select();
    z-index: 10;
    width: 380px;
    height: 80px;
    position: relative;
    overflow: hidden;

    .leftTree {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;

        img {
            @include no-select();
            -webkit-user-drag: none;
            position: absolute;
            left: 0;
            width: auto;
            height: 100%;
            left: 0;
        }
    }

    .fontContent {
        text-align: center;
        overflow: hidden;
        padding: 0 25px;

        .topContent {
            @include no-select();
            position: relative;
            overflow: hidden;
            width: 75%;
            margin: auto;
            border-bottom: 1px solid #fdbb00;
            color: $text_color;
            font-weight: 100;
        }

        .bottomContent {
            @include no-select();
            position: relative;
            // display: inline-block;
            width: 95%;
            margin: auto;
            overflow: hidden;
            font-size: 18px;
            color: $text_color;
        }

        .levelContent {
            @include no-select();
            display: inline-block;
            position: relative;
            font-size: 18px;
            margin-top: -5px;
            overflow: hidden;
        }
    }

    .rightTree {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;

        img {
            @include no-select();
            -webkit-user-drag: none;
            position: absolute;
            width: auto;
            right: 0;
            height: 100%;
        }
    }
}

.hover_box {
    &:hover .ghost {
        color: #de6f00;
    }

    &:hover .shine {
        background: transparent;
    }

    &:hover .shine::before {
        transform: translateX(400px);
    }

    .ghost {
        color: #de6f00;
        background-color: transparent;
    }

    .shine {
        color: #de6f00;

        &::before {
            display: inline-block;
            position: absolute;
            content: "";
            width: 100%;
            height: 30px;
            background: linear-gradient(100deg,
                    rgba(255,255,255,0),
                    white,
                    rgba(255,255,255,0));
            transform: translateX(-400px);
            transition: .9s;
        }

    }
}