$theme:#3887ff;
$base : 0.6rem;

.projects {
    flex-direction: column;

    .title {
        margin-top: 10px;
        height     : 8%;
        font-size  : 26px;
        font-weight: bold;
        font-style : italic;
        color      : $theme;
        position   : relative;
        display    : flex;
        align-items: center;
        margin-left: 20px;
        z-index    : 10;
        animation  : flicker-in 2s linear 1.5s both;

        &::after {
            content            : 'PROJECTS';
            font-family        : Novecento;
            display            : inline-block;
            position           : absolute;
            color              : transparent;
            -webkit-text-stroke: 0.5px $theme;
            top                : 40%;
            left               : 10px;
            transform          : translateY(-70%);
            z-index            : 9;
        }
    }
    // pc端轮播图
    .project_page {
        width         : 100%;
        display       : flex;
        flex-direction: column;
        align-items   : center;
        transition    : all .8s;

        .CarouselBox {
            display        : flex;
            justify-content: space-around;
            // align-items: center;
            width          : 100%;
            height         : 70vh;
            overflow       : hidden;
            // height: 50vh;
            margin         : 0 auto;
            // margin-top: -50px;

            .projectCard_container {
                width : 55%;
                height: 100%;
                margin: 0 auto;

                &::after {
                    content: '';
                    display: block;
                    clear  : both;
                }

                .card_backGround {
                    position        : absolute;
                    top             : 5vh;
                    left            : 25vw;
                    width           : 50vw;
                    height          : 60vh;
                    background-color: rgba($color: #000000, $alpha: 0.0);
                    font-size       : 20px;
                    letter-spacing  : 10px;
                    line-height     : 20px;
                    // border: 1px solid rgba($color: #3887ff, $alpha: 0.3);
                    border-radius   : 4px;
                    color           : rgba($color: #3887ff, $alpha: 0.3);
                    word-break      : break-all;
                    overflow        : hidden;

                    &::before {
                        content: '··································································································································································································································································································································································································································································································································································································································································································································································································································································································································································································································································································································································································································································································································································································································································································································································································································································································································································';
                    }
                }
            }

            .myArrow {
                position   : relative;
                top        : 10vh;
                align-items: center;
                z-index    : 10;
                width      : 20%;
                height     : 20%;
                min-width  : 80px;
                min-height : 80px;

                &.prevArrow,
                &.nextArrow {
                    display: flex;
                    cursor : pointer;

                    div {
                        position         : relative;
                        width            : 100%;
                        height           : 100%;
                        background-repeat: no-repeat;
                        background-size  : 50px !important;
                        display          : flex;
                        align-items      : center;
                        justify-content  : center;
                    }
                }

                &.prevArrow {
                    // margin-left: 24vw;
                    margin-left: 18%;

                    // margin-left: 24.13rem;
                    div {

                        // background: url(https://qg-newer.oss-cn-shenzhen.aliyuncs.com/images/prevImg.png) no-repeat center;
                        &:hover {
                            animation: ArrowMove .8s;
                        }
                    }
                }

                &.nextArrow {
                    text-align  : right;
                    margin-right: 18%;

                    // margin-right: 26.13rem;
                    div {

                        // background: url(https://qg-newer.oss-cn-shenzhen.aliyuncs.com/images/nextImg.png) no-repeat center;
                        &:hover {
                            animation: ArrowMove .8s;
                        }
                    }
                }
            }
        }



        .slick-dots {
            bottom: 20vh !important;
            left  : 400px !important;

            li {
                button {
                    transform         : skew(-15deg);
                    height            : 3vh !important;
                    width             : 1vw !important;
                    background-color  : #629cf3 !important;
                    -webkit-transition: transform 0.1s !important;
                    -moz-transition   : transform 0.1s !important;
                    -ms-transition    : transform 0.1s !important;
                    -o-transition     : transform 0.1s !important;
                    transition        : transform 0.1s !important;
                }
            }
        }

        .slick-track {
            // padding-left: 9vw;
            padding-top: 20px;
        }

        .moreProject {
            position: relative;
            width   : 100px;
            height  : 100px;
            cursor  : pointer;

            p {
                color    : #898d96;
                font-size: 20px;
            }

            .pointersBox {
                // position : absolute;
                // top      : 0px;
                // left     : 40%;
                transform: translate(20%, 0);
            }
        }
    }
    // pc端更多项目页面
    .projectList_page {
        position  : absolute;
        height    : 100vh;
        width     : 50%;
        transition: all .8s;

        .backLastPage {
            position: relative;
            height  : 50px;

            div {
                width     : 100%;
                text-align: center;
                color     : #898d96;
                font-size : 20px;
                span {
                    cursor: url(https://qg-newer.oss-cn-shenzhen.aliyuncs.com/images/pointer.cur),pointer;
                }
            }

            .pointersBox {
                // width    : 50px;
                transform: rotate(-180deg);
                cursor: url(https://qg-newer.oss-cn-shenzhen.aliyuncs.com/images/pointer.cur),pointer;
            }
            .clickBox{
                cursor: url(https://qg-newer.oss-cn-shenzhen.aliyuncs.com/images/pointer.cur),pointer;
                width: 50px;
                height: 50px;
                margin: 0 auto;
                transform: translate(-33%,-50%);
            }
        }

        .listBox {
            width: 100vw;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .itemBox_left,.itemBox_right{
                .projectItem{
                    width: 100%;
                    margin:30px 0;
                    opacity: 0.9;
                    border-radius: 5px;
                    padding: 15px 50px;
                    background: linear-gradient(-45deg, #d7eff8, #b1d4fc);
                    // box-shadow:0px 10px 10px 0px rgba($color: #000000, $alpha: 0.1);
                    text-align: center;
                    font-size: 18px;
                    cursor: url(https://qg-newer.oss-cn-shenzhen.aliyuncs.com/images/pointer.cur),pointer;
                    &:hover{
                        box-shadow:0px 2px 10px 0px rgba($color: #000000, $alpha: 0.2);
                    }
                }
            }

            .itemBox_left{
                .projectItem{
                    transition: all .6s;
                    &.currentItem{
                        -webkit-animation: shadow-drop-2-left 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                        animation: shadow-drop-2-left 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    }
                }
            }

            .itemBox_right{
                .projectItem{
                    transition: all .6s;
                    &.currentItem{
                        -webkit-animation: shadow-drop-2-right 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                        animation: shadow-drop-2-right 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    }
                }
            }
            .infoCard{
                width: 25vw;
                padding: 2vw;
                background-color: rgba($color: #fff, $alpha: 0.7);
                box-shadow: 0px 2px 10px 0px rgba($color: #000000, $alpha: 0.1);
                border-radius: 10px;
                font-size: 18px;
                color: #629cf3;
                text-indent: 2em;
                background-image: url(https://qg-newer.oss-cn-shenzhen.aliyuncs.com/images/bglogo.svg);
                background-size: 70px;
                background-repeat: no-repeat;
                background-position: 90% 90%;
            }
        }
    }

    // 移动端列表页面
    .mobile{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .listPage{
            .mb-introduction{
                width: 75%;
                margin: 10px auto;
                p{
                    color: #777777;
                    font-size: 16px;
                    text-indent: 2em;
                }
            }
            .mb-list{
                display: flex;
                flex-direction: column;
                .mb-listItem{
                    background-image: url(https://qg-newer.oss-cn-shenzhen.aliyuncs.com/images/detailproject.svg);
                    background-repeat: no-repeat;
                    background-position: 95% 50%;
                    height: 60px;
                    color: #777777;
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
                    .mb-itemTitle{
                        background-image: url(https://qg-newer.oss-cn-shenzhen.aliyuncs.com/images/bookmark.svg);
                        background-repeat: no-repeat;
                        background-position: 10px 50%;
                        padding: 0 40px;
                        font-size: 10px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        p{
                            font-size: 15px;
                            font-weight: 600;
                            width: 90%;
                        }
                    }
                }
            }
        }
        .mb-detailPage{
            opacity: 0;
            background-color: #fff;
            width: 100%;
            top: 0px;
            position: absolute;
            height: 100%;
            right: -100%;
            z-index: 10;
            transition: all .6s;
            .mb-backBtn{
                height: 30px;
                margin: 15px 12px;
            }
            .mb-projectDeatilInfo{
                opacity: 0;
                display: flex;
                width: 100%;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                transition: opacity 1s;
                .mb-projectImg{
                    display: flex;
                    justify-content: center;
                    img{
                        width: 70%;
                        height: auto;
                        box-shadow: 0px 2px 8px 2px rgba($color: #000000, $alpha: 0.2);
                    }
                }
                .mb-projectTitle{
                    width: 70%;
                    margin: 20px 0;
                    color: #818181;
                    font-size: 15px;
                    p{
                        text-align: center;
                    }
                }
                .mb-projectContent{
                    width: 70%;
                    color: #8b8b8b;
                    font-size: 18px;
                    text-indent: 2em;
                }
            }
        }
        .currentDetailPage{
            right: 0;
            opacity: 1;
            .mb-projectDeatilInfo{
                opacity: 1;
                transition: opacity 2s;
            }
        }
        .mb-footer{
            position: relative;
            margin-bottom: 10px;
            .mb-footerContainer{
                color: #777777;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .hideTopPage {
        transform: translate(0, -150%);
        opacity  : 0;
    }

    .hideBottomPage {
        transform: translate(0, 150%);
        // top: 120%;
        opacity  : 0;
    }

    .currentPage {
        opacity     : 1;
        position    : absolute;
        top         : 90px;
        // transform: translate(0, -60vh);
    }

    .chevron {
        position : absolute;
        width    : $base * 3.5;
        height   : $base * 0.8;
        opacity  : 0;
        transform: scale(0.3);
        animation: move-chevron 3s ease-out infinite;
    }

    .chevron:first-child {
        animation: move-chevron 3s ease-out 1s infinite;
    }

    .chevron:nth-child(2) {
        animation: move-chevron 3s ease-out 2s infinite;
    }

    .chevron:before,
    .chevron:after {
        content   : '';
        position  : absolute;
        top       : 0;
        height    : 100%;
        width     : 50%;
        background: #c3dbff;
    }

    .chevron:before {
        left     : 0;
        transform: skewY(30deg);
    }

    .chevron:after {
        right    : 0;
        width    : 50%;
        transform: skewY(-30deg);
    }
}

@keyframes ArrowMove {
    0% {
        transform: scale(1, 1)
    }

    25% {
        transform: scale(1.3, 1.3)
    }

    50% {
        transform: scale(.8, .8)
    }

    75% {
        transform: scale(1.1, 1.1)
    }

    100% {
        transform: scale(1, 1)
    }
}

@keyframes pointer {
    0% {
        color: #000000;
    }

    50% {
        color: #898d96;
    }

    100% {
        color: #acafb5;
    }
}

// list元素向右偏移
@-webkit-keyframes shadow-drop-2-left {
    0% {
      -webkit-transform: translateZ(0) translateX(0);
              transform: translateZ(0) translateX(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px) translateX(24px);
              transform: translateZ(50px) translateX(24px);
      -webkit-box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35);
              box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes shadow-drop-2-left {
    0% {
      -webkit-transform: translateZ(0) translateX(0);
              transform: translateZ(0) translateX(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px) translateX(24px);
              transform: translateZ(50px) translateX(24px);
      -webkit-box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35);
              box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35);
    }
  }


  // list元素向左偏移
  @-webkit-keyframes shadow-drop-2-right {
    0% {
      -webkit-transform: translateZ(0) translateX(0);
              transform: translateZ(0) translateX(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px) translateX(-24px);
              transform: translateZ(50px) translateX(-24px);
      -webkit-box-shadow: 12px 0 20px -12px rgba(0, 0, 0, 0.35);
              box-shadow: 12px 0 20px -12px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes shadow-drop-2-right {
    0% {
      -webkit-transform: translateZ(0) translateX(0);
              transform: translateZ(0) translateX(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px) translateX(-24px);
              transform: translateZ(50px) translateX(-24px);
      -webkit-box-shadow: 12px 0 20px -12px rgba(0, 0, 0, 0.35);
              box-shadow: 12px 0 20px -12px rgba(0, 0, 0, 0.35);
    }
  }