.media-page {
  display: none;
}

.media-page .title {
  height: 10%;
  justify-content: flex-start;
  font-size: calc((.4em + 1vmin) + (.4em + 1vmax));
  font-weight: bold;
  font-style: italic;
  color: #3887ff;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 20px;
  z-index: 10;
  animation: flicker-in 2s linear .5s both;
}

.media-page .title::after {
  content: 'STUDENTS';
  font-family: Novecento;
  display: inline-block;
  position: absolute;
  color: transparent;
  -webkit-text-stroke: 0.5px #3887ff;
  top: 40%;
  left: 10px;
  transform: translateY(-70%);
  z-index: 9;
}

.pc-page .title {
  height: 9%;
  font-size: 26px;
  font-weight: bold;
  font-style: italic;
  color: #3887ff;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 20px;
  z-index: 10;
  justify-content: flex-start;
  animation: flicker-in 2s linear 1.5s both;
}

.pc-page .title::after {
  content: 'STUDENTS';
  font-family: Novecento;
  display: inline-block;
  position: absolute;
  color: transparent;
  -webkit-text-stroke: 0.5px #3887ff;
  top: 40%;
  left: 10px;
  transform: translateY(-70%);
  z-index: 9;
}

.edu-words-ct {
  width: 100vw;
  height: auto;
}

.edu-words-ct .edu-words {
  margin: auto;
  width: 80%;
  font-size: 1rem;
  text-indent: 2em;
  color: #999;
  font-family: Novecento;
  opacity: 0;
  animation: fade-in 1.5s ease-in-out 1s forwards;
}

.name-pic-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
  width: 100%;
  height: 10%;
}

.name-pic-wrapper .name-ct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
}

.name-pic-wrapper .name-ct .avator-wrapper {
  display: none;
  width: 20%;
  height: 100%;
}

.name-pic-wrapper .name-ct h2 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-family: Novecento;
  font-weight: 500;
}

.name-pic-wrapper .name-ct .name-describe {
  font-size: 1.2rem;
  color: #999;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1150px) {
  .media-page {
    display: block;
  }
  .pc-page {
    display: none;
  }
}
