.login_demo_left {
    height: 85%;
    width: 100%;
    margin-top: 15%;
}

.login_demo_left_img {
    height: 100%;
    position: relative;
}

.login_demo2 {
    /* background-color: #d12929; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    width: 70%;
    height: 60%;
    left: 5%;
    background-image: url("../../assets/login-demo2.png");
}

.login_demo1 {
    /* background-color: #d12929; */
    margin: 0px;
    display: block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    background-image: url("../../assets/login-demo1.png");
}

.index1 {
    width: 20%;
    height: 20%;
    right: 10%;
    transform-origin: center;
    transform: rotateZ(180deg);
}

.index2 {
    width: 9%;
    height: 9%;
    top: 25%;
    right: 20%;
    transform: rotateZ(-143.75deg);
}

.index3 {
    /* background-color: #d12929; */
    width: 20%;
    height: 20%;
    top: 60%;
    left: 10%;
    transform: rotateZ(-180deg);
}

.index4 {
    width: 9%;
    height: 9%;
    top: 60%;
    right: 40%;
    transform: rotateZ(-41.24deg);
}

.index5 {
    width: 25%;
    height: 25%;
    top: 40%;
    right: 3%;
}
