.content {
    /* top: 64px; */

transition: all .3s ease;
    /* margin-left: 240px; */
    width: 90%;
    height: 100%;
    position: relative;
    background-color: #fff;
}
.Chart6{
height: 100%;
width: 80%;
margin: 0 auto;
/* background-color: #784343; */
}

.header {
    text-align: center;
    font-size: 14px;
    height: 30px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chartbox {
    width: 100%;
    height: 80%;
}

.chart {
    width: 600px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    margin: 0px auto;
    text-align: center;
}

.chartbox button {
    width: 120px;
    height: 30px;
    background-color: #628fb7;
    border: none;
    margin-top: 30px;
    float: right;
    margin-right: 300px;
}

.chartbox button:hover {
    background-color: #407497;
}
