
        :global(.login-form) {
        max-width: 300px;
        /* height: 600px; */
    }

   :global(.login-form-forgot)  {
        float: right;
    }

   :global( .ant-col-rtl .login-form-forgot) {
        float: left;
    }

  .btn {
        width: 100px;
        margin: 0 auto;
        background-color: rgb(74, 74, 207);
    }
    .btn h3{
        color: #000;
        font-size: 12px;
      
    }
